
@{
    ViewBag.Title = "bio";
}

<link rel="stylesheet" href="~/Content/AllDesign.css" />

<div id="NavigationBar">
    <nav>
        <a href="/Portfolio/Index">Home</a>
        <a href="/Portfolio/Bio">Bio</a>
        <a href="/Portfolio/Education">Education</a>
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/Reference">Reference</a>
    </nav>
</div>

<table>
    <tr>
        <td>Name</td>
        <td>Akib Ashfaq</td>
    </tr>

    <tr>
        <td>Age</td>
        <td>21</td>
    </tr>

    <tr>
        <td>Address</td>
        <td>Free School Street Hatirpool, Dhaka, Bangladesh</td>
    </tr>

    <tr>
        <td>Email</td>
        <td>akibash450@gmail.com</td>
    </tr>

    <tr>
        <td>Phone</td>
        <td>+8801703890674</td>
    </tr>



</table>

