@{
    ViewBag.Title = "Education";
}

<link rel="stylesheet" href="~/Content/AllDesign.css" />

<div id="NavigationBar">
    <nav>
        <a href="/Portfolio/Index">Home</a>
        <a href="/Portfolio/Bio">Bio</a>
        <a href="/Portfolio/Education">Education</a>
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/Reference">Reference</a>
    </nav>
</div>

<ul>
    <li>University</li>
    <p>
        AMERICAN INTERNATIONAL UNIVERSITY-BANGLADESH (2022-Present)<br>
        Bachelor of Science in Computer Science and Engineering
    </p>
    <li>College</li>
    <p>
        BOGURA CANTONMENTAL PUBLIC SCHOOL AND COLLEGE (2019-2021)<br>
        Higher Secondary Certificate (HSC)
    </p>
    <li>High School</li>
    <P>
        BOGURA YMCA PUBLIC SCHOOL AND COLLEGE (2007-2019)<br>
        Secondary School Certificate (SSC)
    </P>

</ul>    