@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="~/Content/AllDesign.css" />

<div id="NavigationBar">
    <nav>
        <a href="/Portfolio/Index">Home</a>
        <a href="/Portfolio/Bio">Bio</a>
        <a href="/Portfolio/Education">Education</a>
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/Reference">Reference</a>
    </nav>
</div>

<h3 style=" font-weight: normal;">
    <p>
        Hey there! I'm Akib Ashfaq, a passionate and dedicated
        software devloper currently persuing a degree in Computer Science.
        I love coding and enjoy creating solutions to complex problems.
        <br>
        <br>
        Love to play video games in my free time.
        Videogames are not just a hobby for me; they are a source of inspiration
        that fuels my creativity and problem-solving skills in software development.
        <br>
        <br>
        Thank you for visiting my portfolio!
    </p>
</h3>




