#NavigationBar {
    background-color: lightgray;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}

#NavigationBar nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    padding: 10px 10px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    margin-top: 20px;
    width: 100%;
}

ul {
    margin-top: 20px;
    font-size: 18px;
}

ul li {
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

table th {
    vertical-align: top;
    background-color: lightslategray;
}
