
@{
    ViewBag.Title = "Projects";
}

<link rel="stylesheet" href="~/Content/AllDesign.css" />

<div id="NavigationBar">
    <nav>
        <a href="/Portfolio/Index">Home</a>
        <a href="/Portfolio/Bio">Bio</a>
        <a href="/Portfolio/Education">Education</a>
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/Reference">Reference</a>
    </nav>
</div>

<h2>Personal Projects</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th style=" width: 160px;">TechStack</th>
    </tr>
    <tr>
        <td>Drum Kit</td>
        <td>
            <p>
                This is a simple web-based drum kit application that allows users to play different drum sounds
                by clicking on the drum images or pressing the corresponding keys on the keyboard. The application
                is built using HTML, CSS, and JavaScript. The main aim of this project was to create an interactive
                and fun way for users to play drum sounds and learn about basic web development concepts.
            </p>
        </td>
        <td>
            <p>
                - HTML<br />
                - CSS<br />
                - JavaScript
            </p>
        </td>
    </tr>
    <tr>
        <td>JS And CSS Clock</td>
        <td>
            <p>
                This is a web-based clock application that displays the current time using JavaScript and CSS.
                The clock is designed to be visually appealing and easy to read. The main aim of this project
                was to create a functional and stylish clock that can be used as a desktop or mobile application.
            </p>
        </td>
        <td>
            <p>
                - HTML<br />
                - CSS<br />
                - JavaScript
            </p>
        </td>
    </tr>
    <tr>
        <td>Snake Game with JS</td>
        <td>
            <p>
                This is a classic snake game built using JavaScript, HTML, and CSS. The game allows players
                to control a snake that moves around the screen, eating food and growing longer. The main
                aim of this project was to create an engaging and entertaining game that showcases basic
                game development concepts using web technologies.
            </p>
        </td>

        <td>
            <p>
                - HTML<br />
                - CSS<br />
                - JavaScript
            </p>
        </td>
    </tr>
</table>

<h2>University Projects</h2>
<table>

    <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Description</th>
        <th style=" width: 160px;">TechStack</th>
    </tr>

    <tr>
        <td>Introduction to Database</td>
        <td>Airline Managment Database</td>
        <td>
            <p>
                This project involved designing and implementing a database
                for an airline management system. The database was created
                using SQL and included tables for flights, passengers, bookings,
                and employees. The main aim of this project was to provide a
                way to manage airline operations and improve customer
                service.
            </p>
        </td>
        <td>
            <p>
                - oracle 10G<br>
                - SQL<br />
                - MySQL<br />
                - Database Design<br />
                - ER Modeling
            </p>
        </td>
    </tr>

    <tr>
        <td>Object Oriented Proramming 2</td>
        <td>Ecommerce Managemnt System</td>
        <td>
            <p>
                This was devloped using the winform .net fraamework
                and C# programming language. The main aim of this project
                was to manage the sales of a ecommerce business. The system
                allows the user to add products, manage inventory, process
                sales, and generate reports. The system also includes user
                authentication and role-based access control to ensure that
                only authorized users can access certain features of the system.
            </p>
        </td>
        <td>
            <p>
                - C#<br />
                - .Net Framework<br />
                - SQL Server<br />
                - WinForms
            </p>
        </td>
    </tr>

    <tr>
        <td>Software Engineering</td>
        <td>Healthcare & Emergency Service System (Design)</td>
        <td>
            <p>
                This project involved designing a healthcare
                and emergency service system using Figma for the GUI. The system allows users to book
                appointments with doctors, manage patient records, and handle
                emergency service requests like ambulance. The main aim of this project was to
                improve the efficiency and effectiveness of healthcare and emergency
                services.
            </p>
        </td>
        <td>
            <p>
                - Figma<br />
                - UI/UX Design<br />
                - System Design<br />
                - UML Diagrams
            </p>
        </td>
    </tr>

    <tr>
        <td>Web Technologies</td>
        <td>Ecommerce Managment System</td>
        <td>
            <p>
                This ecommerce management system is a web-based application
                devloped usin HTML, CSS, JavaScript and PHP. The main aim of this project
                was to manage the sales of a ecommerce business. The system allows the user to add products, manage inventory, process
                sales, and generate reports. The system also includes user authentication and role-based access control to ensure that
                only authorized users can access certain features of the system.
            </p>
        </td>
        <td>
            <p>
                - HTML<br />
                - CSS<br />
                - JavaScript<br />
                - PHP<br />
                - MySQL
            </p>
        </td>
    </tr>

</table>