@{
    ViewBag.Title = "Reference";
}

<link rel="stylesheet" href="/Content/AllDesign.css" />

<div id="NavigationBar">
    <nav>
        <a href="/Portfolio/Index">Home</a>
        <a href="/Portfolio/Bio">Bio</a>
        <a href="/Portfolio/Education">Education</a>
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/Reference">Reference</a>
    </nav>
</div>
<h3>References</h3>
<ul>
    <li>Reference 1</li>
    <li>Reference 2</li>
    <li>Reference 3</li>
    <li>Reference 4</li>
</ul>