
<h1>Form for @ViewBag.name</h1>

<form method="post">
    <input type="text" name="Name" class="form-control"  placeholder="Username" />
    <input type="password" name="Password" class="form-control" placeholder ="Password" />
    <input type="submit" class="btn btn-success"/>
</form>