
<a href="/Data/Index"><button type="button" class="btn btn-primary">Index</button></a>
<a href="/Data/Formprocess"><button type="button" class="btn btn-primary">Form Process</button></a>
<a href="/Data/lnq"><button type="button" class="btn btn-primary">LINQ</button></a>
<a href="/Data/register"><button type="button" class="btn btn-primary">Registeration</button></a>
<br />

<h2>Edit</h2>

<form method="post">

    <input type="hidden" name="id" value="@Model.FormID" />
    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name" />
    <input type="text" name="Number" value="@Model.Number" class="form-control" placeholder="Number" />
    <input type="hidden" name="Formname" value="Edited" />
    <input type="submit" class="btn btn-success" />

</form>