<a href="/Data/Index"><button type="button" class="btn btn-primary">Index</button></a>
<a href="/Data/Formprocess"><button type="button" class="btn btn-primary">Form Process</button></a>
<a href="/Data/lnq"><button type="button" class="btn btn-primary">LINQ</button></a>
<br />
<h2>Index</h2>

<h6>
    This is the ViewBag Messege From Data Controller:
    @ViewBag.Message
</h6>

<br />

<h6>
    This is the viewdata from controller:
    @ViewData["CurrentTime"]
</h6>

<br />

<h6>
    From TempData in controller:
    @TempData["notice"]
</h6>

