<a href="/Data/Index"><button type="button" class="btn btn-primary">Index</button></a>
<a href="/Data/Formprocess"><button type="button" class="btn btn-primary">Form Process</button></a>
<a href="/Data/lnq"><button type="button" class="btn btn-primary">LINQ</button></a>
<a href="/Data/register"><button type="button" class="btn btn-primary">Registeration</button></a>

<br />


<h2>register</h2>


<form method="post">


    @foreach (var item in Model)
    {
        <input type="checkbox" name="Course[]" value="@item.Cid" /> @item.CName <h6>-</h6> @item.CCapacity
        <br />
    }

    <input type="submit" value="Register" class="btn btn-success" />
</form>


